@model DeliveryAgreagatorApplication.AdminPanel.Models.DTO.RestaurantPostDTO

@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
<form asp-action = "Post" asp-controller ="Restaurant" asp-antiforgery="true">
            <table>
                <tr>
                    <td>Название:</td>
                    <td><input type="text" asp-for="Name" /> </td>
                </tr>
                <tr>
                    <td>Изображение:</td>
                    <td><input type="text" asp-for="Picture" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>