@page "{id}"
@model DeliveryAgreagatorApplication.AdminPanel.Pages.Restaurant.IndexModel
@{
}
<html>
    <head>
        <title>Head</title>
    </head>

    <body>
    <div>@Model.Restaurant.Name</div>
</body>
</html>
